<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true"
	  internalLogFile="G:\Git-Project\SearchApp-webapi\SearchApp.Api\Logs\nlog-internal.log" internalLogLevel="info">	
	<!-- internalLogLevel: Off:Disables internal logging/Trace:Logs everything (most detailed)/Debug:Logs debug information
	     /Info:Logs general information/Warn:Logs only warnings and errors/Error:Logs only errors and fatal issues/Fatal:Logs only critical failures -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="NLog.Database" />
	</extensions>
	<!-- Targets: Define where logs will be stored -->
	<targets async="true">

		<!-- Trace Log -->
		<target xsi:type="File" name="traceLog"
                fileName="${aspnet-appbasepath}\Logs\Trace-${shortdate}.txt"				
                layout="${longdate}, ${event-properties:item=RequestType}: ${event-properties:item=CorelationId}, URL: ${event-properties:item=RequestURL}, Object: ${message}"
                keepFileOpen="false" concurrentWrites="true"
                archiveFileName="${aspnet-appbasepath}\Logs\Trace-${shortdate}.{#}.txt"
                archiveNumbering="Sequence"
                archiveAboveSize="300000000"
                maxArchiveFiles="100"
                maxArchiveDays="30" />
		
		<!-- Search App Trace Log -->
		<target xsi:type="File" name="SearchAppDebugLog"
                fileName="${aspnet-appbasepath}\Logs\SearchAppDebugLog-${shortdate}.txt"				
                layout="${longdate}, ${event-properties:item=RequestType}: ${event-properties:item=CorelationId}, URL: ${event-properties:item=RequestURL}, Object: ${message}"
                keepFileOpen="false" concurrentWrites="true"
                archiveFileName="${aspnet-appbasepath}\Logs\SearchAppDebugLog-${shortdate}.{#}.txt"
                archiveNumbering="Sequence"
                archiveAboveSize="300000000"
                maxArchiveFiles="100"
                maxArchiveDays="30" />

		<target name="dbTarget"
			   xsi:type="Database"
		       dbProvider="Microsoft.Data.SqlClient"
			   connectionString="${configsetting:item=ConnectionStrings.EmployeeDbConnection}"
			   commandType="StoredProcedure"
			   commandText="[dbo].[InsertLog]">
			<parameter name="@Level" layout="${level}" />
			<parameter name="@CorelationId" layout="${event-properties:CorelationId}" />		
			<parameter name="@UserId" layout="${event-properties:item=UserId}" />
			<parameter name="@RequestURL" layout="${event-properties:item=RequestURL}" />
			<parameter name="@AdditionalInfo" layout="${message}" />
			<parameter name="@RequestType" layout="${event-properties:item=RequestType}" />
			<parameter name="@IPAddress" layout="${event-properties:item=IPAddress}" />
			<parameter name="@FunctionName" layout="${event-properties:item=FunctionName}" />
			<parameter name="@StatusCode" layout="${event-properties:StatusCode}" />
			<parameter name="@Type" layout="${exception:format=type}" />
			<parameter name="@Message" layout="${exception:format=message}" />
			<parameter name="@StackTrace" layout="${exception:format=stackTrace}" />
			<parameter name="@InnerException" layout="${exception:tostring}" />
			<parameter name="@APITime" layout="${event-properties:item=APITime}" />
			<parameter name="@CallSite" layout="${callsite}" />
		</target>

	</targets>
	<!-- rules to map from logger name to target -->
	<rules>

		<!-- Skip non-critical Microsoft logs -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<!-- Enable Trace Logging -->
		<logger name="*" minlevel="Trace" writeTo="traceLog" enabled="true"/>		
		
		<!-- Enable Debug Logging -->
		<logger name="SearchAppFileLog" minlevel="Debug" writeTo="SearchAppDebugLog" enabled="true" />		
		
		<!-- Save log into database loglevel (Ex. name="*" minlevel="Trace" means everything). levels="Trace" -->
		<!--minlevel="Debug"=> Debug will write out Debug, Info, Warn, Error and Fatal-level log messages. Only Trace is skipped.-->
		<logger name="*" minlevel="Trace" writeTo="dbTarget" enabled="true" level="Trace,Error" />
	</rules>
</nlog>